.navbar-toggler{
  font-size: 20px;
  border: none;
}

.my-photo{
  border-radius: 50%;
  height: 170px;
}

nav{
  margin-bottom: 60px;
}
.btn{
  border-radius: 3px;
}
.btn-outline-instagram{
  background-color: transparent;
  color: #bc2a8d;
  border: 1px solid #bc2a8d;
}

.btn-outline-instagram:hover{
  background-color: #bc2a8d;
  color: white;
}

.btn-outline-instagram:focus{
  box-shadow: 0 0 0 0.2rem rgba(138, 14, 123, 0.3);
}

.portfolio .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.thumb-project {
  width: 100%;
}

.project {
  position: relative;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: #fff;
}

.project .box {
  display: flex;
  position: absolute;
  cursor: pointer;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  color: #fff;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

.project .box h3 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.project .box .description{
  display: block;
  width: 100%;
  text-align: center;
}

.project .box .description small{
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.project .image{
  width: 100%;
  min-height: 250px;
  overflow: hidden;
}

footer{
  width: 100%;
  margin-top: 50px;
  padding: 15px;
  color: #fff;
  text-align: center;
  border-top: 1px solid #0079a1;
  background-color: #008cba;
}

footer a{
  color: white;
  font-weight: bold;
}
footer a:hover{
  color: white;
  text-decoration: underline;
}